<div class="form-group">
    <label>numero</label> 
    <input class="form-control" [(ngModel)]="facture.numero" type="number">   
</div>
<div class="form-group">
    <label>date</label> 
    <input class="form-control" [(ngModel)]="facture.date" type="date">
</div>
<div class="form-group">
    <label>client</label> 
    <input class="form-control" [(ngModel)]="facture.client" type="text">
</div>
<div class="form-group">
    <label>Pu</label> 
    <input class="form-control" [(ngModel)]="facture.Pu" type="number">   
</div>
<div class="form-group">
    <label>quantite</label> 
    <input class="form-control" [(ngModel)]="facture.quantite" type="number">
</div>
<div class="form-group">
    <label>tva</label> 
    <select class="form-control" [(ngModel)]="facture.tva">
        <option value="6">6%</option>
        <option value="18">18%</option>
        <option value="19">20%</option>
        </select>
 </div>
<button (click)="save()">Submit</button>
           